<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Color</title>
</head>
<body>
<h1>Form 2</h1>
<form method="post" action="#" class="form-horizontal">
    <fieldset>
        <legend>Animal Color</legend>
        <select name="color" id="color" class="form-control">
            <option>--Select a color--</option>
            <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                <option>{{ @colorOption }}</option>
            </repeat>
        </select>What color animal would you like?
        <input type="submit" value="Submit">
    </fieldset>
</form>


</body>
</html>